<div class="container mt-2">
  <nav>
    <ul class="nav">
      <li class="nav-item-active">
        <a class="nav-link" routerLink="/">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="greet">Greeting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="myForm">My-Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="directive">Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="friend">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="coffee">Coffee-shop</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
